@tailwind base;
@tailwind components;
@tailwind utilities;

.service_choose{
    position: relative;
    top: 80px;
}
.portfolio{
    position: relative;
    top: 430px;
}
.scroll{
    position: relative;
    top: 450px;
}
.companygrowth{
    position: relative;
    top: 500px;
}
.Team{
    position: relative;
    top: 500px;
}